{
  "app": {
    "guid": "c3954329-5bca-462d-8df2-6188efe799df",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.atendimentossecmulher",
    "artifactId": "io.cronapp.apps.atendimentossecmulher"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "YzM5NTQzMjktNWJjYS00NjJkLThkZjItNjE4OGVmZTc5OWRm",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "activeDirectory",
    "defaultDomain": "teste.net",
    "hostname": "10.2.49.225",
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.atendimentossecmulher",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "America/Sao_Paulo",
  "timeZoneOffset": -180,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}